<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Pantalla del publico</title>

        <link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" href="stylesheets/style.css">
    
      </head>

<body>
    <h2>Hola</h2>
    <table>


        <tr>
            <td valign="middle" class="ticket-actual">

                <div class="mx-auto" style="width: 4px;">
                 
                    <h3>CODIGO    <%= turnos[0].code %></h3>
                    <br>
                    <br>
                    <h3>CAJA     <%= turnos[0].box %></h3>
                   
                </div>
            </td>
            <td>
                <table id="tablasecundaria">
                    <tr>
                        <td>
                            <div class="mx-auto" style="width: 2px;">
                                
                                <h3><%= turnos[1].code %></h3>
                                <br>
                                <br>
                                <h3>CAJA  <%= turnos[1].box %></h3>
                              
                                
                                
                              </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="mx-auto" style="width: 2px;">
                                
                                <h3><%= turnos[2].code %></h3>
                                <br>
                                <br>
                                <h3>CAJA  <%= turnos[2].box %></h3>
                              
                                
                                
                              </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="mx-auto" style="width: 2px;">
                                
                                <h3><%= turnos[3].code %></h3>
                                <br>
                                <br>
                                <h3>CAJA  <%= turnos[3].box %></h3>
                              
                                
                                
                              </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <script>
        window.setTimeout(function () {
            window.location.reload();
            }, 15000);

        /*const dataTable = document.getElementById("dataTable");
        const btnExportToCsv = document.getElementById("btnExportToCsv");

        btnExportToCsv.addEventListener("click", () => {
            const exporter = new TableCSVExporter(dataTable);
            const csvOutput = exporter.convertirCSV();
            const csvBlob = new Blob([csvOutput], { type: "text/csv" });
            const blobUrl = URL.createObjectURL(csvBlob);
            const anchorElement = document.createElement("a");

            anchorElement.href = blobUrl;
            anchorElement.download = `${new Date().toLocaleDateString()}.csv`;
            anchorElement.click();

            setTimeout(() => {
                URL.revokeObjectURL(blobUrl);
            }, 500);
        });*/
    </script>




</body>

</html>
